
#weather.container {
  display: inline-block;
  color: white;
  background-color: #3c3c3ccf;
  border: rgba(87, 87, 87, 0.723) solid 3px;
  border-radius: 4px;

  padding: 7px 13px;
  line-height: 1;
}

#weather-temperature {
  display: inline-block;
  font-size: 25px;
}
#weather-main {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 15px;
}